FRIGATE_URL=https://frigate.nix01.bdx0.io.vn

TUYA_KEY_LIVING=
TUYA_KEY_BEDROOM=
TUYA_KEY_KITCHEN=
TUYA_KEY_BATHROOM=
TUYA_KEY_HALLWAY=
FRIGATE_API_KEY=

MIIO_PURIFIER_TOKEN=   # 32 ký tự hex, lấy từ Xiaomi app hoặc miio discover
